.action-box{
    margin-bottom: 12px;
    padding: 12px;
}

.action-row-button a{
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}
.action-row-button button{
    width: 100%;
}